/* The general design of the MessageContainer component. */
.container {
    width: 100%;
    background-color: grey;
    height: 88%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    position: relative;
}

/* The design of the green message cloud, the shape on which
    the messages lays on. Now its only a rounded rectangle. */
.msgCloud {
    position: relative;
    display: inline-flex;
    color: #fff;
    min-width: 65px;
    max-width: 63%;
    background-color: #36cd14f5;
    margin: 30px;
    padding: 10px;
    border-radius: 6px;
    padding-right: 15px;
    padding-left: 15px;
    float: right;
    clear: both;
}

/* The different design that recived messages' clouds have over the sent messages' ones. */
.left {
    background-color: #67dd4cf5;
    float: left;
}

/* The design of the curved shape that makes the rounded rectangle look like a cloud.
    Refers to the sent messages clouds. */
.msgCloud::after {
    content: "";
    position: absolute;
    top: 0;
    right: -25px;
    width: 40px;
    height: 25px;
    background: radial-gradient(25px at bottom right, #0000 99%, #36cd14f5 102%);    
}

/* The design of the curved shape that makes the rounded rectangle look like a cloud.
    Refers to the received messages clouds */
.msgCloud.left::after {
    content: "";
    position: absolute;
    top: 0;
    left: -25px;
    width: 40px;
    height: 25px;
    background: radial-gradient(25px at bottom left, #0000 99%, #67dd4cf5 102%);
}

/* The design of the text of the message, inside the message cloud. */
.actualMsg {
    flex-wrap: wrap;
    max-width: 100%;
    overflow-wrap: break-word;
    unicode-bidi: plaintext;
    text-align: start;
    
}

/* The design of the red sentece that suggests that I am messaging nobody. */
.noOne {
    color: rgb(180, 14, 14);
    font-weight: 800;
    font-size: larger;
    user-select: none;
}

/* The design of the white sentence that suggests that there were no messages
    between the current user and the other user. */
.noMessages {
    color: rgb(231, 245, 254);
    font-weight: 500;
    font-size: larger;
    user-select: none;
}