/* The general design of the card container (message container+
    inpit field+padding) */
.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
