/* The general design of the InputContainer component. */
.container {
    width: 100%;
    height: 12%;
    /* padding: 0.5rem; */
    background-color: beige;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
}

/* The design of the green, send button on the bottom right side of the screen. */
.sendButton {
    display: flex;
    flex-basis: 4.8%;
    width: 5.5%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: none;
    background-color: green;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* Making the send button more circled */
.sendButton::after {
    content: "";
    padding-bottom: 100%;
}

/* The design of the input field */
.inputField {
    /* position: absolute; */
    display: flex; 
    align-items: center; 
    align-self: center; 
    background-color: #FFFFFF; 
    height: 200%;
    max-height: 100%; 
    width: 100%; 
    padding: 1rem;
    font-size: large;
    unicode-bidi: plaintext;
    text-align: start;
    overflow: hidden; 
    padding-bottom: 40px;
}

/* The design of the placeholder inside of the input field */
.inputField::placeholder {
    color: rgb(182, 182, 182);
    font-size: medium;
    font-weight: 600;
    user-select: none;
}

/* The design of the paper plane icon on the green send button */
.paperPlane{
    width: 70%;
    height: 70%;
}