/* The general design of the InputContainer component. */
.container {
    width: 100%;
    height: 16.4%;
    background-color: beige;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    padding-bottom: 2%;
}

/* The design of the green, send button on the bottom right side of the screen. */
.sendButton {
    display: flex;
    flex-basis: 5.3%;
    width: 5.5%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: none;
    background-color: #fd9300;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 2%;
}


/* Making the send button more circled */
.sendButton::after {
    content: "";
    padding-bottom: 100%;
}

.sendButton:hover {
    transform: scale(1.14);
    transition: 0.4s;
    background-color: black;
}



/* The design of the paper plane icon on the green send button */
.paperPlane{
    margin-top: 8%;
    margin-right: 8.5%;
    width: 70%;
    height: 70%;
    color: white;
}

.paperPlane:hover {
    color: #fd9300;
    transition: 0.4s;
}

/* The design of the input field */
.inputField {
    font-size: larger;
    display: flex; 
    align-self: center; 
    background-color: #FFFFFF; 
    height: 80%;
    width: 100%;
    unicode-bidi: plaintext;
    text-align: start;
    overflow: hidden;

    /* vertical-align: auto; */
    /* margin-top: -109px; */
}

.inputField:active {
    background-color: aquamarine;
    transition: 0.35s;
}

/* The design of the placeholder inside of the input field */
.inputField::placeholder {
    color: rgb(182, 182, 182);
    font-size: medium;
    font-weight: 600;
    user-select: none;
}

