/* General design of the outest container*/
.container {
    display: flex;
    background: rgba(12,29,54,255);
    height: 100vh;
    padding: 1.5rem;
    overflow: hidden;
    justify-content: center;
}