.container {
  width: 20%;
  background-color: yellow;
  display: flex;
  flex-direction: column;
}

.peopleContainer {
  height: 85%;
  overflow: auto;
}

.userChat {
  display: flex;
  justify-content: center;
  height: 30%;
  max-height: 50%;
  margin-top: 10%;
  cursor: pointer;
  border-bottom: 1px solid rgb(113, 113, 113);
}

.addPeopleDiv {
  display: flex;
  height: 15%;
  /* margin-bottom: 0.8rem; */
  border-top: 1px solid black;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

.addPeopleButton {
  display: flex;
  /* flex-basis: 22%; */
  background-color: blue;
  /* height: 70%; */
  width: 23%;
  max-width: 100%;
  max-height: 100%;
  min-width: 20%;
  border: none;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* responsive-like circle */
.addPeopleButton::after {
  content: '';
  /* display: block; */
  padding-bottom: 100%;
}

.addChat {
  width: 70%;
  height: 70%;
}
