.container {
    height: 50%;
}

/* .title {
    margin-left: 0.2rem;

} */

.statusMsg {
    /* margin-left: 0.2rem; */
    color: rgb(152, 152, 152);
    font-size: small;

}

.profilePicButton {
    display: flex;
    flex-basis: 4.8%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border: none;
    align-items: center;
    justify-content: center;
    background: none;
}

.profilePic {
    display: flex;
    height: 70%;
    width: 70%;
}