/* The general design of the modal in the NewChatModal component. */
.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
  /* display: none; */
  z-index: 2;
}

/* Adds opacity when I'm entering the modal */
.modalEnterDone {
  opacity: 1;
  pointer-events: visible;
}

/* Removing the opacity from the modal */
.modalExit {
  opacity: 0;
}

/* The style of the modal content (body+header+footer) */
.modalContent {
  width: 30%;
  height: 70%;
  background-color: #fff;
  transition: all 0.6s ease-in-out;
  transform: translateY(-150px);
}

/* Applies transitions on the modal when entering it */
.modalEnterDone .modalContent {
  transform: translateY(0);
}

/* Applies transitions on the modal when exiting it */
.modalExit .modalContent {
  transition: all 1s ease-in-out;
  transform: translateY(-300px);
}

/* The style of the header and the footer of the modal */
.modalHeader,
.modalFooter {
  padding: 10px;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalTitle {
  margin: 0;
}

/* The style of the modal body (user list). */
.modalBody {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 70%;
  display: flex;
  justify-content: center;
}

/* The style of the close button in the modal */
.closeButton:hover,
.closeButton:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}
